#super{
    display: block;
}
#form{
    display: none;
}
#submit{
    display: none;
}
#display{
    display:flex;
    flex-wrap:wrap;
    height: 100px;
}
.div{
    border: solid;
    box-sizing: border-box;
    margin:10px;
    width:200px;
}